* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column-reverse;
}

        /* Header */

header {
    z-index: 2;
}        

header nav {
    height: 100px;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 10px 10px;
}

.prima_ul {
    flex-shrink: 5;
}

.img_sinister {
    width: 50px;
}

.brano {
    font-size: 10px;
    color: gray;
}

.play {
    flex-direction: column;
}

.play i {
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    /* background-color: #141922; */
    /* height: calc(100vh - 100px); */
    display: flex;
}

    /* Prima section */

.menu_left {
    flex-direction: column;
    display: flex;
}    

.sidebar {
    width: 250px;
    background-color: #000000;
    height: calc(100vh - 100px);
    color: white;
    flex-direction: column;
    overflow: auto;
    padding-left: 15px;
    display: flex;
}

.logo {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar ul img {
    width: 30px;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: #6d6d6d;

}

.sidebar ul li a {
    text-decoration: none;
    color: #6d6d6d;
    padding-left: 5px;
}

.fa-plus-square {
    font-size: 30px;
}

.central_playlist {
    flex-basis: 80%;
    overflow: auto;
}

    /* Seconda section */

.playlist_right {
    background-color: #141922;
    width: calc(100vw - 250px);
    height: calc( 100vh - 100px);
    overflow: auto;
}

    /* Hero */

.hero {
    height: 100px;
    background-color: #000000;
    text-align: right;
    margin-bottom: 15px;
}

.upgrade {
    color: white;
    text-decoration: none;
    border: 1px solid hsla(0,0%,100%,.7);
    padding: 10px;
    border-radius: 25px;
    line-height: 100px;
    margin-right: 10px;
    font-size: 13px;
}

        /* Menu top */

.menu_top ul {
    text-align: center;
    margin-bottom: 20px;
}        
.menu_top li {
    display: inline;
    padding: 10px;
}        
.menu_top li a{
    text-decoration: none;
    color: #6d6d6d;
    padding: 15px 10px;
}

.recenti {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 10px;
}

   /* Box img */
.box_img {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.box_img img {
    width: 120px;
    margin: 5px;
} 

.box_img h5 ,p{
    text-align: center;
}





    /* Utility classes */
.color_white {
    color: white;
}

.display-flex {
    display: flex;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.border {
    border: 1px solid black;
}

.color_white {
    color: white;
}

.color_gray {
    color: #6d6d6d;
}

.margin_right {
    margin-right: 10px;
}





             /* Media query */

                 /* XS */
@media screen and (max-width: 480px) {

.hidden_xs {
    visibility: hidden;
} 

.menu_left {
     width: 50px;
}

.playlist_right {
    width: 100%;
}

.logo_small {
    width: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: absolute;
    padding-left: 5px;
}

.sidebar {
    padding-left: 5px;
}

.sidebar ul li a {
    /* width: 10px; */
    /* text-align: center; */
}

}

                /* SM */
@media screen and (min-width: 481px) and (max-width: 767px) {

.logo_small {
    display: none;
}

}
                /* MD */
@media screen and (min-width: 768px) and (max-width: 991px) {

.logo_small {
   display: none;
}
}
                /* LG */
@media screen and (min-width: 992px) {

.logo_small {
    display: none;
}
}



