* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column-reverse;
}

        /* Header */

header nav {
    height: 80px;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    padding: 10px 10px;
}

main {
    background-color: #141922;
    height: calc(100vh - 80px);
    display: flex;
}

    /* Prima section */
.sidebar {
    width: 250px;
    background-color: aqua;
    height: calc(100vh - 80px);
}

.playlist {
    background-color: red;
    width: calc(100vw - 250px);
    height: calc( 100vh - 80px);
}


    /* Utility classes */
.display-flex {
    display: flex;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.border {
    border: 1px solid black;
}

             /* Media query */

                 /* XS */
@media screen and (max-width: 480px) {

}
                /* SM */
@media screen and (min-width: 481px) and (max-width: 767px) {

}
                /* MD */
@media screen and (min-width: 768px) and (max-width: 991px) {

}
                /* LG */
@media screen and (min-width: 992px) {

}



